# /lib/systemd/system/tomato-exporter.service
[Unit]
Description=Tomato Exporter
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/tomato-exporter

[Install]
WantedBy=multi-user.target
